#input, #output {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 500px;
}

#sha1bitmap,
#sha256bitmap,
#sha384bitmap,
#sha512bitmap {
    image-rendering: pixelated;
    border: 1px solid grey;
}

#sha1bitmap {
    width: 160px;
    height: 100px;
    display: none;
}

#sha256bitmap {
    width: 160px;
    height: 160px;
}

#sha384bitmap {
    width: 240px;
    height: 160px;
    display: none;
}

#sha512bitmap {
    width: 320px;
    height: 160px;
    display: none;
}
