canvas {
    margin-top: 20px;
}
#sha1bitmap {
    width: 160px;
    height: 100px;
    display: none;
}

#sha256bitmap {
    width: 160px;
    height: 160px;
}

#sha384bitmap {
    width: 240px;
    height: 160px;
    display: none;
}

#sha512bitmap {
    width: 320px;
    height: 160px;
    display: none;
}

#output {
    height: 50px;
}