#bitmap {
    width: 160px;
    height: 160px;
    image-rendering: pixelated;
    border: 1px solid grey;
}

button {
    width: 40px
}

#base2,
#base10,
#base16,
#nbase32,
#nbase58,
#nbase64 {
    width: 1500px;
    height: 50px;
    font-family: monospace;
    text-align: right;
}

#base2 {
    font-size: 8px;
}