@font-face {
  font-family: epilogue;
  src: url(Epilogue-VariableFont_wght.ttf);
}

body {
    padding: 10px;
}

body, h1, h2, h3, p, td, input, button {
    font-family: epilogue;
}

body {
    font-weight: 400;
}

h1, h2 {
    font-weight: 600;
}

a {
    color: #000;
    text-decoration: underline;
}

h1 {
    padding: 0;
    margin: 20px 0px;
}

h2, h3 {
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    margin: 10px 0 0 0;
}

td {
    vertical-align: top;
    padding: 0
}

textarea {
    width: 450px;
    height: 100px;
}

textarea, input[type=text], canvas {
    border: 1px solid #ccc;
}

textarea, input[type=text] {
    font-family: monospace;
    padding: 5px;
}

canvas {
    image-rendering: pixelated;
}

h2.sectionheader {
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid grey;
    text-decoration: underline;
}
