@font-face {
  font-family: epilogue;
  src: url(Epilogue-VariableFont_wght.ttf);
}

body {
    padding: 10px;
}

h1, h2, p, td, input, button {
    font-family: epilogue;
}

h1 {
    padding: 0;
    margin: 20px 0px;
}

h2 {
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    margin: 10px 0 0 0;
}

td {
    vertical-align: top;
    padding: 0
}

textarea {
    width: 450px;
    height: 100px;
}

textarea, input[type=text], canvas {
    border: 1px solid #ccc;
}

textarea, input[type=text] {
    font-family: monospace;
    padding: 5px;
}

canvas {
    image-rendering: pixelated;
}